/* Global Settings */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    display: grid;
    grid-template-rows: 3.5rem auto fit-content(8rem);
    grid-template-areas: "header"
                         "main"
                         "footer";
    height: 100%;
    
}

main {
    /* min-height: calc(100vh - 2.5rem - 7.5rem); */
    /* grid-row: 2 / 3; */
    grid-area: main;
}

.backdrop {
    display: none;
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity .2s linear;
}


/* Header and Navigation */

.main-header {
    width: 100%;
    display: inline-block;
    background-color: #2ddf5c;
    padding: .625rem .9rem;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
}

.toggle-button {
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
  }
  
  .toggle-button:focus {
    outline: none;
  }
  
  .toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: black;
    display: block;
    margin: 0.3rem 0;
  }

.main-header__brand{
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    /* font-size: 1.38rem; */
}

.main-header__brand img {
    height: 2.5rem;
    vertical-align: middle;
}

.main-nav {
    display: none;
    font-family: 'Roboto', sans-serif;
}

.main-nav__items a,
.mobile-nav__item a {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    padding: 3px 0;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 1rem;
}

.main-nav__items a:hover,
.main-nav__items a:active {
    color: aliceblue;
    border-bottom: 5px solid #fff;
}

.main-nav__item--cta {
    animation: wiggle 200ms 3s 8 ease-out none;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a {
    color: #fff;
    background: #ff1b68;
    padding: .5rem 1rem;
    border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta:hover,
.mobile-nav__item--cta:active {
    color: red;
    background: #fff;
    border: none;
}


/* Button Styles */

.button {
    background: #0e4f1f;
    color: #fff;
    font: inherit;
    border: 1px solid #0e4f1f;
    padding: .5rem;
    border-radius: .5rem;
    font-weight: bold;
    cursor: pointer;
}

.button:hover,
.button:active {
    background: #fff;
    color: #0e4f1f;
}

.button:focus {
    outline: none;
}

.button[disabled] {
    cursor: not-allowed;
    border: #a1a1a1;
    background: #a1a1a1;
}




/* Footer styles */

.main-footer {
    background: #000;
    padding: 3.1rem;
    margin-top: 0px;
    /* grid-row: 3 / 4; */
    grid-area: footer;
}

.main-footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-footer__link {
    margin: 1rem 0;
}

.main-footer__link a {
    color: #fff;
    text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
    color: #ccc;
}

/* Mobile Nav */

.mobile-nav {
    transform: translateX(-100%);
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background: white;
    width: 80%;
    height: 100vh;
    transition: transform .5s ease-out;
  }
  
  .mobile-nav__items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .mobile-nav__item {
    margin: 1rem 0;
  }
  
  .mobile-nav__item a {
    font-size: 1.5rem;
  }

  .open {
      display: block !important;
      opacity: 1 !important;
      transform: translateY(0) !important;
  }



/* Header Media Query  */

  @media (min-width: 40rem) {
      .toggle-button {
          display: none;
      }

      .main-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
      }

      .main-nav {
        display: inline-block;
        position: relative;
        text-align: right;
        width: 100%;
        vertical-align: middle;
    }
    
    .main-nav__items a,
    .mobile-nav__item a {
        color: #0e4f1f;
        text-decoration: none;
        font-weight: bold;
        padding: 3px 0;
    }
    
    .main-nav__items {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: flex-end;
    }
    
    .main-nav__item {
        margin: 0 1rem;
    }
    
    .main-nav__items a:hover,
    .main-nav__items a:active {
        color: aliceblue;
        border-bottom: 5px solid #fff;
    }
    
    .main-nav__item--cta a,
    .mobile-nav__item--cta a {
        color: #fff;
        background: #ff1b68;
        padding: .5rem 1rem;
        border-radius: 8px;
    }
    
    .main-nav__item--cta a:hover,
    .main-nav__item--cta a:active,
    .mobile-nav__item--cta:hover,
    .mobile-nav__item--cta:active {
        color: red;
        background: #fff;
        border: none;
    }
  }

/* Footer Media Query */

@media (min-width: 40rem) {
    .main-footer {
       bottom: 0;
       width: 100%;
    }

    .main-footer__links {
        display: flex;
        flex-direction: row;
        justify-content: center;
     }

     .main-footer__link {
        margin: 1rem;
     }
}

@keyframes wiggle {
    0% {
        transform: rotateZ(0);
    }
    50% {
        transform: rotateZ(-10deg);
    }
    100% {
        transform: rotateZ(10deg);
    }
}

