@font-face {
    font-family: 'AnonymousPro';
    src: url("anonymousPro-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'AnonymousPro';
    src: url("anonymousPro-Bold.ttf") format("truetype");
    font-weight: 700;
}

main {
    padding: 2rem;
    margin-top: 50px;
}

.background {
    background: url("../images/background.jpg") center/cover;
    filter: grayscale(40%);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

.plan {
    width: 80%;
    border: 5px solid green;
    /* border-left: none; */
    background: rgba(213, 255, 220, 0.95);
    margin: 1.2rem 0;
    padding: 1.2rem;
    position: relative;
}

.plan:hover,
.plan:active {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-color: #ff5454;
}

.plan__box {
    text-decoration: none;
    color: inherit;
    display: block;

}

.plan__title {
    color: #000;
}

.plan__subtitle {
    color: grey;
}

.plan {
    position: relative;
}

.plan__badge {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 1.2rem;
    font-size: .75rem;
    color: #fff;
    background: #ff5454;
    padding: .625rem;
    z-index: 10;
}

.plan__description {
    border: 2px solid rgb(125, 187, 125);
    background-color: #fff;
    padding: .625rem;
    color: rgb(0, 91, 0);
    font-size: 1.2rem;
    /* font shothand -> font-style font-variant font-weight font-size/line-height font-family */
}

.premium-plan {
    background-color: rgb(0, 70, 0);
}

.premium-plan h1 {
    color: #fff;
}

.free-plan {
    float: right;
    /* border-right: none; */
    border-left: 5px solid green;
    text-align: right;
}

.clearfix {
    clear: both;
}

@media (min-width: 40rem) {
    main {
      max-width: 1500px;
      margin-left: auto;
      margin-right: auto;
    }
}

@media (min-width: 1500px) {
    main {
      margin: 3rem auto .5rem auto;
      max-width: 1500px;
    }
}
